#toper{
    width:100%;
    height:57px;
    background:#222;
    #top{
        width:1008px;
        margin: 0 auto;
        height:57px;
        a{
            float:left;
        }
        a:nth-child(2){
            display:inline-block;
            width:72px;
            height:57px;
            text-align: center;
            line-height: 57px;
            color:#fff;
            margin-left:5px;
            font-size:12px; 
            &:hover{
                background:#444;
            }
        }
        div{
            float:right;
            a{
                width:72px;
                height:57px;
                text-align: center;
                line-height: 57px;
                float:left;
                color:#fff;
                font-size: 12px;
                span{
                    font-size: 12px;
                    padding-right:3px;
                }
                &:hover{
                    background:#444;
                }
            }
            >p{
                float:left;
                color:#fff;
                line-height: 57px;
                margin-left: 15px;
                font-size: 12px;
            }
        } 
    }
}



#footer{
    border-top:3px solid #FF666B;
    width:100%;
    height:234px;
    background:url("../img/brand/footer-bg.jpg");
    position:relative;
    .footer_left{
        float:left;
        position: absolute;
        left:63px;
        top:33px;
        ul{
            li{
                float:left;
                margin-right:2px;
                a{
                    color:#fff;
                    font-size: 11px;
                }
            }
        }
        p{
            margin-top:17px;
            color:#fff;
            font-size: 11px;
            a{
                color:#fff;
                font-size: 11px;
            }
        }
        ol{
            margin-top:17px;
            li{
                float:left;
                margin-right: 10px;
                a{
                    font-size: 11px;
                    color:#fff;
                }
            }
        }
        .footer_flogo{
            li{
                margin-right:19px;
            }
        }
    }
    .footer_right{
        position:absolute;
        right:105px;
        top:40px;
        .left,.right{
            float:left;
            width:128px;
            div{
                width:90px;
                height:90px;
                margin:0 auto;
            }
            span{
                font-size: 20px;
                color:#fff;
                display:block;
                margin-left:54px;
                margin-top:10px;
            }
            p{
                text-align: center;
                margin-top:10px;
            }
        }
        .right{
            margin-left:87px;
            span{
                text-align: center;
                margin-left:0;
            }
        }
    }
}